  @* @model List<User>
<table>
<thead>
     

<table class="table">
  <thead>
    <tr>
       <a href="#">    
      <th>Id</th>
      <th>name</th>
      <th>PhoneNumber</th>
      <th>Password</th>
      <th>
         <a href="#">
          info
        </a>
      </th>
       
      </a>
    </tr>
    </thead>
    @foreach (var odam in Model)
   
    {
       <a href="#">
       <tbody> 
   <tr> 
      <th>@odam.Id</th>
      <td>@odam.Name</td>
      <td>@odam.PhoneNumber</td>
      <td>@odam.Password</td>
      <td>
        <a href="@odam.Link">
          <button class="btn btn-info">kirish</button>
        </a>
      </td>
    </tr>
  </tbody>  
    </a>
    }
   </table> *@
