
<div class="row">
  <div class="col-6">
  <div class="input-group mb-3">
  @* <span class="input-group-text" id="basic-addon1">@ViewBag[.Ganry]</span> *@
  <input type="text" class="form-control" placeholder="name" aria-label="Username" aria-describedby="basic-addon1">
</div>
</div>

<div class="col-6">
  <div class="mb-3">
  <label for="basic-url" class="form-label">@ViewData["title"]</label>
  <div class="input-group">
    <span class="input-group-text" id="basic-addon3"></span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
  </div>
</div>
  <div class="form-text" id="basic-addon4"></div>
</div>
<div class="col-6">
<div class="input-group mb-3">
  <span class="input-group-text">@ViewData["Time"]</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-text">@ViewData["Tir"]</span>
</div>
</div>

<div class="col-6">
  <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  <span class="input-group-text"></span>
  <input type="text" class="form-control" placeholder="Surname" aria-label="Server">
</div>
</div>

<div class="col-6">
  <div class="input-group">
  <span class="input-group-text"></span>
  <textarea class="form-control" aria-label="With textarea">@ViewData["Three"]</textarea>
</div>
</div>
</div>